
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_departmentHeadLayout.cshtml";
}


<section class="statistics">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-lg-6">
                <!-- Income-->
                <div class="card income text-center">
                    <div class="icon"><i class="fas fa-user"></i></div>
                    <strong class="text-success">Delegation</strong>
                    <p></p>
                    <hr>
                    <a href="@Url.Action("Delegation","DepartmentHead")" class="btn btn-success btn-sm">View</a>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Income-->
                <div class="card income text-center">
                    <div class="icon"><i class="fa fa-file-alt"></i></div>
                    <strong class="text-success">Stationery Requests</strong>
                    <p></p>
                    <hr>
                    <a href="@Url.Action("ReviewStationeryRequest","DepartmentHead")" class="btn btn-success btn-sm">View</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row d-flex">
           
            <div class="col-lg-6">
                <!-- Income-->
                <div class="card income text-center">
                    <div class="icon"><i class="fa fa-map-marker-alt"></i></div>
                    <strong class="text-success">Collection Point</strong>
                    <p></p>
                    <hr>
                    <a href="@Url.Action("CollectionPoint","DepartmentHead")" class="btn btn-success btn-sm">View</a>
                </div>
            </div>



        </div>


    </div>

</section>