
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_departmentHeadLayout.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                    <h1>Head Index</h1>
            </div>
        </div>
    </div>
</div>

