

@{
    Layout = "~/Views/Shared/_storeManagerLayout.cshtml";

    ViewBag.Title = "addSupplierStatus";

    var saved = (bool)ViewData["saved"];
    var duplicateMsg = (string)ViewData["duplicateMsg"];
}

<div class="container-fluid">
    <div class="row d-flex">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    @{
                        if (saved == true)
                        {
                            <h2>Supplier Added!</h2>
                            <p>Supplier record successfully created.</p>
                        }
                        else
                        {
                            <h2>Supplier Not Added!</h2>
                            <p>Error, @duplicateMsg, supplier record not created.</p>
                        }
                    }

                    <a href="@Url.Content("~/StoreManager/Suppliers")" class="btn btn-success btn-sm">Supplier List</a>

                    </body>
                    </html>

                </div>
            </div>
        </div>
    </div>
</div>