

@{
    Layout = "~/Views/Shared/_storeManagerLayout.cshtml";

    ViewBag.Title = "addSupplierStatus";

    var saved = (bool)ViewData["saved"];
}

<div class="container-fluid">
    <div class="row d-flex">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2>Add Supplier</h2>

                    @{
                        if (saved == true)
                        {
                            <p>Supplier record successfully created</p>
                        }
                        else
                        {
                            <p>Error, supplier record not saved</p>
                        }
                    }

                    <a href="@Url.Content("~/StoreManager/Suppliers")" class="btn btn-success btn-sm">Supplier List</a>

                    </body>
                    </html>

                </div>
            </div>
        </div>
    </div>
</div>