
@{
    Layout = "~/Views/Shared/_storeManagerLayout.cshtml";

    ViewBag.Title = "DeleteSupplier";

    var supplierId = (string)ViewData["id"];
    var deleted = (bool)ViewData["deleted"];
}

<div class="container-fluid">
    <div class="row d-flex">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2>DeleteSupplier</h2>
                    @{
                        if (deleted)
                        {
                            <p>Supplier record for supplier code @supplierId successfully deleted.</p>
                        }
                        else
                        {
                            <p>Supplier record for supplier code @supplierId not deleted</p>
                        }
                    }
                    <a href="@Url.Content("~/StoreManager/Suppliers")" class="btn btn-success btn-sm">Supplier List</a>

                </div>
            </div>
        </div>
    </div>
</div>