
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_storeManagerLayout.cshtml";
}

<section class="statistics">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-lg-6">
                <!-- Income-->
                <div class="card income text-center">
                    <div class="icon"><i class="icon-line-chart"></i></div>
                    <strong class="text-success">View Monthly Report</strong>
                    <p>.</p>
                    <hr>
                    <a href="@Url.Action("ViewCharts", "StoreManager")" class="btn btn-success btn-sm">View</a>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Income-->
                <div class="card income text-center">
                    <div class="icon"><i class="icon-bill"></i></div>
                    <strong class="text-success">Approve Adjustment Voucher</strong>
                    <p>.</p>
                    <hr>
                    <a href="@Url.Action("AdjustmentVouchers", "StoreManager")" class="btn btn-success btn-sm">View</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-lg-6">
                <!-- Income-->
                <div class="card income text-center">
                    <div class="icon"><i class="icon-website"></i></div>
                    <strong class="text-success">Supplier Info</strong>
                    <p>.</p>
                    <hr>
                    <a href="@Url.Action("Suppliers", "StoreManager")" class="btn btn-success btn-sm">View</a>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Income-->
                <div class="card income text-center">
                    <div class="icon"><i class="fa fa-user-plus"></i></div>
                    <strong class="text-success">Add new Supplier</strong>
                    <p>.</p>
                    <hr>
                    <a href="@Url.Action("CreateSupplier", "StoreManager")" class="btn btn-success btn-sm">View</a>
                </div>
            </div>
        </div>
    </div>
</section>

