@using StationeryStore_ADTeam11.View_Models
@{
    ViewBag.Title = "ApprovedReorderList";
}

@{
    List<ReorderStockListVM> stockLists = (List<ReorderStockListVM>)ViewData["Orders"];
}

<div class="container-fluid">
    <div class="row d-flex">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    @Html.Partial("FlashMessage")
                    <h3>Approved Reorder Stock List</h3>
                </div>
                <div class="card-body">
                    <table class="table  table-hover table-striped display nowrap" id="apro_req">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ReorderStockListVM list in stockLists)
                            {
                                <tr>
                                    <td>@list.RequestedDate</td>
                                    <td class="text-success">@list.Status</td>
                                    <td><a href="/StoreClerk/ApprovedReorderStockDetail/@list.Id" class="btn btn-info">View</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#apro_req').DataTable({
        });
    });

</script>