@using StationeryStore_ADTeam11.View_Models
@{
    ViewBag.Title = "ApprovedRequests";
}
@{
    var requests = (List<RequisitionVM>
    )ViewData["Requests"];
    }
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-12">
                <div class="card" style="height: 550px">
                    <div class="card-header">
                        <h4>Stationary Requests</h4>
                    </div>
                    <div class="card-body">
                        <table class="table  table-hover table-striped display nowrap" id="app_req">
                            <thead>
                                <tr>
                                    <th>Employee Name</th>
                                    <th>Date</th>
                                    <th>Total Items</th>
                                    <th>Status</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var request in requests)
                                {
                                <tr>
                                    <td>@request.EmployeeName</td>
                                    <td>@request.Date</td>
                                    <td>@request.Quantity</td>
                                    <td class="text-success">@request.Status</td>
                                    <td><a href="/StoreClerk/ApprovedRequestDetails/@request.Id" class="btn btn-primary">View</a></td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function () {
        $('#app_req').DataTable({
        });
    });

    </script>
