@using StationeryStore_ADTeam11.Models;
@{
    var categories = (List<Category>)ViewData["Categories"];
}

<div class="card-header d-flex align-items-center">
    <h4>Adjustment Voucher</h4>
</div>

<div class="card-body">
    <div class="row">
        <div class="col-6 form-group">
            <label for="item-categories">Item Categories</label>
            <select id="item-categories" class="form-control">
                <option value="0" selected>-- Select item --</option>
                @foreach (var category in categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
</div>