@model List<StationeryStore_ADTeam11.Models.Supplier>
@using StationeryStore_ADTeam11.Models

@{ 
    var ItemId = ViewData["ItemId"];

}


    <form>
        <div class="hidden">
            <input value="P085" name="item">
        </div>
        <div class="form-group">
            <label>Replace 1st Supplier</label>
            <select name="Supplier">
                <option value="volvo">BANES</option>
                <option value="saab">CHEP</option>
                <option value="fiat">DARP</option>
                <option value="audi">ELEP</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Replace" class="btn btn-outline-success pull-right">
        </div>
    </form>



@*@Html.DropDownList("Supplier",
                    new SelectList(Enum.GetValues(typeof(Supplier))),
                    "Select Supplier",
                    new { @class = "form-control" })*@
