
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_storeSupervisorLayout.cshtml";
}

<section class="statistics">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-lg-6">
                <!-- Income-->
                <div class="card income text-center">
                    <div class="icon"><i class="icon-bill"></i></div>
                    <strong class="text-success">Review Re-order Stock List</strong>
                    <p></p>
                    <hr>
                    <a href="@Url.Action("ReorderStockList", "StoreSupervisor")" class="btn btn-success btn-sm">View</a>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Income-->
                <div class="card income text-center">
                    <div class="icon"><i class="icon-presentation"></i></div>
                    <strong class="text-success">View Monthly Charts</strong>
                    <p></p>
                    <hr>
                    <a href="@Url.Action("ViewCharts", "StoreSupervisor")" class="btn btn-success btn-sm">View</a>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-lg-6">
                <!-- Income-->
                <div class="card income text-center">
                    <div class="icon"><i class="icon-list-1"></i></div>
                    <strong class="text-success">Review Adjustment Voucher</strong>
                    <p></p>
                    <hr>
                    <a href="@Url.Action("AdjustmentVouchers", "StoreSupervisor")" class="btn btn-success btn-sm">View</a>
                </div>
            </div>
        </div>
    </div>


</section>