@using StationeryStore_ADTeam11.Models;
@model StationeryStore_ADTeam11.Models.Department

@{
    ViewBag.Title = "CollectionPoint";
    var collectionPoints = (List<CollectionPoint>)ViewData["collectionPoints"];

    var representativeName = (string)ViewData["representativeName"];
    var collectionPoint = (string)ViewData["collectionPoint"];

}

<div class="card">

    <div class="card-header">
        <h4>Collection Points</h4>
    </div>

    <div class="card-body">
        <div class="row">
            <Label class="col-12">Representative - @Html.Label(representativeName)</Label>
            <Label class="col-12">Collection Point - @Html.Label(collectionPoint)</Label>
            @using (Html.BeginForm())
            {
                <div class="col-12 form-group">
                    <label class="from-control"><b>Collection Points</b></label>

                    <div>
                        @{
                            foreach (var cp in collectionPoints)
                            {
                                @Html.RadioButtonFor(model => model.CollectionPoinId, cp.Id) @Html.Label(cp.Name)<br>
                            }
                        }
                    </div>

                </div>

                <div class="col-12 form-group">
                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-4">
                            <input type="submit" value="Update" class="btn btn-success">
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

